@import url("reset.css");

body {
    font-family:'Nunito', Arial, 'sans serif';
    background-color: #f2f2f3;
}

/* header   */
header {
    background-color: #021daa;
    color: white;
}
 
h2 {
    line-height: 60px;
}

p {
    margin-left: 10px;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.center {
    display: grid;
    place-items: center;
}

.gap-30 {
    gap: 30px;
}
  
nav ul li {
    display: inline;
    line-height: 60px;
}

li + li{
    margin-left: 10px;
}


/* Main  */
main {
    height: 85vh;
    background-color: rgba(0, 0, 255, 0.07);
}


section{
    line-height: 10px;
}


.box {
    
    height: 140px;
    text-align: center;
    display: block;
    width: 200px;
    margin-top: 30px;
    background-color: #f7952c;
    color:#fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 128, 0.2);
}

.align_center {
    line-height: 140px;
    display: flex; 
    justify-content: center;
} 

main div section a {
    text-decoration: none;
    font-weight: bold;
    }
    
/* Footer */
ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    
    }

footer {
    line-height: 60px;
    color: #fff;
    background-color: #021daa;
    height: 60px;
}


div ul li {
        display: inline;
}

