@charset "utf-8";

body {
    background-color: #808080;
}

.container {
    width: min(100% - 30px, 1080);
    margin-inline: auto;
}

.box {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
}

section + section {

    margin-top: 30px;

}
