@import url(./reset.css);


.container {
  width:min(100% - 30px, 1080px);
  max-width: 1080px;
  margin-inline: auto;
}
body{
  transition: all 2.5s ease-in-out;
  background-color: #ad65f0;
}

main{
  height:100svh;
  display:grid;
  place-items:center;

}

h1{
  transition: all 2.5s ease-in-out;
  font-size: 80px;
  font-weight: 900;
  color:#ffffff;
}

/*------------------------------------------*/
/*       Media Queries Desktop First        */
/*------------------------------------------*/

/* 1200px width and down.*/
@media (max-width:1200px){
  
  body{
    background-color: #22ebeb;
    transition: all 2.5s ease-in-out;
  }
  h1{
    transition: all 2.5s ease-in-out;
    font-size: 70px;
  }
}

@media (max-width:992px){
  
  body{
    background-color: #e64141;
    transition: all 2.5s ease-in-out;
  }
  h1{
    transition: all 2.5s ease-in-out;
    font-size: 70px;
  }
}

@media (max-width:768px){
  
  body{
    background-color: #80eb7c;
    transition: all 2.5s ease-in-out;
  }
  h1{
    transition: all 2.5s ease-in-out;
    font-size: 60px;
  }
}

@media (max-width:480px){
  
  body{
    background-color: #f0b05d;
    transition: all 2.5s ease-in-out;
  }
  h1{
    transition: all 2.5s ease-in-out;
    font-size: 40px;
  }
}


































