@import "./reset.css";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

main {
  overflow: hidden;
}

div {
  position: relative;
  margin-top: 50px;
  height: 500px;
  background-color: #53add4;
}

div::before {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
  content: "";
  background-color: #d453ad;
}

div::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  content: "";
  background-color: #53d47a;
}